html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  background: #fff;
}

body {
  overflow-x: hidden;
}

.page {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 1050px) {
  .page {
    padding: 0;
  }
}

@media (max-width: 680px) {
  .page {
    padding: 0;
  }
}
